* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #333333;
  font-family: Manrope;
  background: #fff;
  font-weight: 400;
}

body [data-scroll=false] {
  overflow: hidden;
}

body [data-scroll=true] {
  overflow: scroll;
}

body.menu-open {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

/*-------PC-------- */
@media (max-width: 1200px) {
  [class*=__container] {
    max-width: 970px;
  }
}
/*-------TABLET-------- */
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
/*-------MOBIL-------- */
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
/*-------MOBIL-Small------- */
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 489.98px) {
  .title {
    font-size: 37px;
  }
}

.title-center {
  text-align: center;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 103px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}
.header .header__container .header__logo {
  -webkit-filter: drop-shadow(10px 10px 100px #ddff1c);
          filter: drop-shadow(10px 10px 100px #ddff1c);
}
.header .header__container .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 3px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .header__container .header__menu .menu__list .menu__item {
  max-width: 130px;
}
.header .header__container .header__menu .menu__list .menu__item .menu__link {
  display: block;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
}
.header .header__container .header__menu .menu__list .menu__item .menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 637.98px) {
  .header .header__container .header__menu .menu__list .menu__item .menu__link {
    font-size: 32px;
  }
}
@media (max-width: 991.98px) {
  .header .header__container .header__menu .menu__list {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}
@media (max-width: 637.98px) {
  .header .header__container .header__menu .menu__list {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    row-gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media (max-width: 637.98px) {
  .header .header__container .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__container .header__menu::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: white;
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu-open .header .header__container .header__menu, .menu-open .header .header__container .header__menu::before {
    left: 0;
  }
}
.header .header__container .icon-menu {
  display: none;
}
@media (max-width: 637.98px) {
  .header .header__container .icon-menu {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    background-color: inherit;
    border: 0;
    z-index: 100;
  }
  .header .header__container .icon-menu span, .header .header__container .icon-menu::before, .header .header__container .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    z-index: 100;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .header .header__container .icon-menu::before {
    top: 0;
  }
  .header .header__container .icon-menu::after {
    bottom: 0;
  }
  .header .header__container .icon-menu span {
    top: calc(50% - 1px);
  }
}
.header .header__container .menu-open.icon-menu span {
  width: 0;
  z-index: 100;
}
.header .header__container .menu-open.icon-menu::before {
  top: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .header__container .menu-open.icon-menu::after {
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-block {
  padding-bottom: 110px;
}
@media (max-width: 1199.98px) {
  .main-block {
    padding-bottom: 30px;
  }
}
.main-block .main-block__container {
  position: relative;
  padding-top: 183px;
}
@media (max-width: 1199.98px) {
  .main-block .main-block__container {
    padding-top: 100px;
  }
}
.main-block .main-block__container::after {
  background: #bdccff;
  content: "";
  position: absolute;
  top: 0;
  width: 200%;
  left: 75.8%;
  height: 100%;
}
.main-block .main-block__container .body-main-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 14px;
}
@media (max-width: 1199.98px) {
  .main-block .main-block__container .body-main-block {
    display: block;
    padding-bottom: 40px;
  }
}
.main-block .main-block__container .body-main-block .content-main-block {
  position: relative;
  z-index: 2;
  padding-top: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 1199.98px) {
  .main-block .main-block__container .body-main-block .content-main-block {
    margin-bottom: 20px;
  }
}
.main-block .main-block__container .body-main-block .content-main-block .content-main-block__body {
  padding-right: 80px;
  padding-bottom: 48px;
  display: grid;
  gap: 24px;
}
@media (max-width: 1199.98px) {
  .main-block .main-block__container .body-main-block .content-main-block .content-main-block__body {
    padding-right: 0;
  }
}
.main-block .main-block__container .body-main-block .content-main-block .content-main-block__body .content-main-block__sub-title {
  color: #f90;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 354.98px) {
  .main-block .main-block__container .body-main-block .content-main-block .content-main-block__body .content-main-block__sub-title {
    font-size: 19px;
  }
}
.main-block .main-block__container .body-main-block .content-main-block .content-main-block__body .content-main-block__title {
  color: #000;
  font-size: 54px;
  width: 499px;
  font-weight: 800;
  line-height: 1.35; /* 135.185% */
}
@media (max-width: 1199.98px) {
  .main-block .main-block__container .body-main-block .content-main-block .content-main-block__body .content-main-block__title {
    width: auto;
  }
}
@media (max-width: 408.98px) {
  .main-block .main-block__container .body-main-block .content-main-block .content-main-block__body .content-main-block__title {
    font-size: 42px;
  }
}
@media (max-width: 514.98px) {
  .main-block .main-block__container .body-main-block .content-main-block .content-main-block__body .content-main-block__title {
    font-size: 31px;
  }
}
.main-block .main-block__container .body-main-block .content-main-block .content-main-block__body .content-main-block__text {
  color: #31353b;
  font-size: 17px;
  font-weight: 400;
  width: 499px;
  line-height: normal;
  letter-spacing: 0.17px;
}
@media (max-width: 1199.98px) {
  .main-block .main-block__container .body-main-block .content-main-block .content-main-block__body .content-main-block__text {
    width: auto;
  }
}
@media (max-width: 514.98px) {
  .main-block .main-block__container .body-main-block .content-main-block .content-main-block__body .content-main-block__text {
    font-size: 14px;
  }
}
.main-block .main-block__container .body-main-block .content-main-block .form-main-block {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -188px;
  cursor: pointer;
  background: #fff url("../img/icons/house.svg") 34px 34px no-repeat;
  -webkit-box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
  font-weight: 400;
}
@media (max-width: 1199.98px) {
  .main-block .main-block__container .body-main-block .content-main-block .form-main-block {
    margin: 0;
  }
}
@media (max-width: 555.98px) {
  .main-block .main-block__container .body-main-block .content-main-block .form-main-block {
    background: #fff url("../img/icons/house.svg") 9% 34px no-repeat;
    display: block;
  }
}
@media (max-width: 369.98px) {
  .main-block .main-block__container .body-main-block .content-main-block .form-main-block {
    background: #fff url("../img/icons/house.svg") 4% 34px no-repeat;
  }
}
.main-block .main-block__container .body-main-block .content-main-block .form-main-block .form-main-block__input {
  padding: 0 0 0 74px;
  color: #000;
  height: 86px;
  width: 100%;
  font-weight: 700;
  border: 1px solid #dadada;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main-block .main-block__container .body-main-block .content-main-block .form-main-block .form-main-block__input::-webkit-input-placeholder {
  font-weight: 400;
}
.main-block .main-block__container .body-main-block .content-main-block .form-main-block .form-main-block__input::-moz-placeholder {
  font-weight: 400;
}
.main-block .main-block__container .body-main-block .content-main-block .form-main-block .form-main-block__input:-ms-input-placeholder {
  font-weight: 400;
}
.main-block .main-block__container .body-main-block .content-main-block .form-main-block .form-main-block__input::-ms-input-placeholder {
  font-weight: 400;
}
.main-block .main-block__container .body-main-block .content-main-block .form-main-block .form-main-block__input::placeholder {
  font-weight: 400;
}
@media (max-width: 555.98px) {
  .main-block .main-block__container .body-main-block .content-main-block .form-main-block .form-main-block__input {
    padding: 0 0 0 86px;
  }
}
@media (max-width: 369.98px) {
  .main-block .main-block__container .body-main-block .content-main-block .form-main-block .form-main-block__input {
    padding: 0 0 0 42px;
  }
}
.main-block .main-block__container .body-main-block .content-main-block .form-main-block .form-main-block__button {
  color: var(--white, #fff);
  height: 86px;
  font-size: 17px;
  font-weight: 600;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 188px;
          flex: 0 0 188px;
  line-height: normal;
  letter-spacing: 0.17px;
  width: 188px;
  padding: 5px 15px;
  background: #f85a47;
}
.main-block .main-block__container .body-main-block .content-main-block .form-main-block .form-main-block__button:hover {
  background: #ff8b7e;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (max-width: 555.98px) {
  .main-block .main-block__container .body-main-block .content-main-block .form-main-block .form-main-block__button {
    width: 100%;
  }
}
.main-block .main-block__container .body-main-block .slider-main-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-width: 0;
}
.main-block .main-block__container .body-main-block .slider-main-block .slider-main-block__slide {
  position: relative;
  padding-bottom: 95%;
}
.main-block .main-block__container .body-main-block .slider-main-block .slider-main-block__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-block .main-block__container .body-main-block .body-main-block__arrows {
  position: absolute;
  bottom: -52px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 1199.98px) {
  .main-block .main-block__container .body-main-block .body-main-block__arrows {
    bottom: -32px;
  }
}
.main-block .main-block__container .body-main-block .body-main-block__arrows .body-main-block__arrow.swiper-button-prev,
.main-block .main-block__container .body-main-block .body-main-block__arrows .body-main-block__arrow.swiper-button-next {
  position: static;
  height: 20px;
  width: 11px;
  background: url("../img/icons/arrow.svg") 0 0/100% no-repeat;
}
.main-block .main-block__container .body-main-block .body-main-block__arrows .body-main-block__arrow.swiper-button-prev::after,
.main-block .main-block__container .body-main-block .body-main-block__arrows .body-main-block__arrow.swiper-button-next::after {
  display: none;
}
.main-block .main-block__container .body-main-block .body-main-block__arrows .swiper-button-prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.main-block .main-block__container .partners-main-block {
  max-width: 65%;
  position: relative;
  z-index: 3;
}
@media (max-width: 1199.98px) {
  .main-block .main-block__container .partners-main-block {
    max-width: none;
  }
}
.main-block .main-block__container .partners-main-block .partners-main-block__label {
  color: var(--text, #31353b);
  font-size: 17px;
}
.main-block .main-block__container .partners-main-block .partners-main-block__label:not(:last-child) {
  margin-bottom: 27px;
}
.main-block .main-block__container .partners-main-block .partners-main-block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-block .main-block__container .partners-main-block .partners-main-block__items .partners-main-block__item img {
  max-width: 100%;
}
@media (max-width: 651px) {
  .main-block .main-block__container .partners-main-block .partners-main-block__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    row-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.how {
  padding-top: 110px;
  padding-bottom: 110px;
}
.how .how__container .how__title:not(:last-child) {
  margin-bottom: 70px;
}
.how .how__container .how__items {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 260px));
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.how .how__container .how__items .item-how {
  position: relative;
  text-align: center;
  display: grid;
  justify-items: center;
}
.how .how__container .how__items .item-how:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 41px;
  -webkit-transform: translate(85.5%, 0px);
      -ms-transform: translate(85.5%, 0px);
          transform: translate(85.5%, 0px);
  width: 210px;
  height: 11px;
  background: url("../img/how/border_1.svg") 0 0/100% no-repeat;
}
@media (max-width: 1199.98px) {
  .how .how__container .how__items .item-how:not(:last-child)::after {
    width: 170px;
    -webkit-transform: translate(65.5%, 0px);
        -ms-transform: translate(65.5%, 0px);
            transform: translate(65.5%, 0px);
  }
}
@media (max-width: 991.98px) {
  .how .how__container .how__items .item-how:not(:last-child)::after {
    width: 110px;
  }
}
@media (max-width: 767.98px) {
  .how .how__container .how__items .item-how:not(:last-child)::after {
    display: none;
  }
}
.how .how__container .how__items .item-how .item-how__icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.how .how__container .how__items .item-how .item-how__icon:not(:last-child) {
  margin-bottom: 50px;
}
.how .how__container .how__items .item-how .item-how__icon_1 {
  background-color: #9672ff;
}
.how .how__container .how__items .item-how .item-how__icon_2 {
  background: #4ddffd;
  -webkit-box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(77, 223, 253, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(77, 223, 253, 0.03), 0px 20px 13px 0px rgba(77, 223, 253, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(77, 223, 253, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(77, 223, 253, 0.05), 0px 100px 80px 0px rgba(77, 223, 253, 0.07);
          box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(77, 223, 253, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(77, 223, 253, 0.03), 0px 20px 13px 0px rgba(77, 223, 253, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(77, 223, 253, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(77, 223, 253, 0.05), 0px 100px 80px 0px rgba(77, 223, 253, 0.07);
}
.how .how__container .how__items .item-how .item-how__icon_3 {
  background: #f2b8ec;
  -webkit-box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(242, 184, 236, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(242, 184, 236, 0.03), 0px 20px 13px 0px rgba(242, 184, 236, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(242, 184, 236, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(242, 184, 236, 0.05), 0px 100px 80px 0px rgba(242, 184, 236, 0.07);
          box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(242, 184, 236, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(242, 184, 236, 0.03), 0px 20px 13px 0px rgba(242, 184, 236, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(242, 184, 236, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(242, 184, 236, 0.05), 0px 100px 80px 0px rgba(242, 184, 236, 0.07);
}
.how .how__container .how__items .item-how .item-how__title {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.how .how__container .how__items .item-how .item-how__title:not(:last-child) {
  margin-bottom: 15px;
}
.how .how__container .how__items .item-how .item-how__text {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
}
@media (max-width: 767.98px) {
  .how .how__container .how__items .item-how {
    padding: 40px 20px;
    background-color: rgb(255, 253, 253);
    border-radius: 50%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(242, 184, 236, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(242, 184, 236, 0.03), 0px 20px 13px 0px rgba(242, 184, 236, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(242, 184, 236, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(242, 184, 236, 0.05), 0px 100px 80px 0px rgba(242, 184, 236, 0.07);
            box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(242, 184, 236, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(242, 184, 236, 0.03), 0px 20px 13px 0px rgba(242, 184, 236, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(242, 184, 236, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(242, 184, 236, 0.05), 0px 100px 80px 0px rgba(242, 184, 236, 0.07);
  }
}
.how .how__container .how__items .item-how_2:not(:last-child)::after {
  -webkit-transform: translate(85.5%, 0px) rotate(-180deg);
      -ms-transform: translate(85.5%, 0px) rotate(-180deg);
          transform: translate(85.5%, 0px) rotate(-180deg);
}
@media (max-width: 1199.98px) {
  .how .how__container .how__items .item-how_2:not(:last-child)::after {
    width: 170px;
    -webkit-transform: translate(65.5%, 0px) rotate(-180deg);
        -ms-transform: translate(65.5%, 0px) rotate(-180deg);
            transform: translate(65.5%, 0px) rotate(-180deg);
  }
}
@media (max-width: 991.98px) {
  .how .how__container .how__items .item-how_2:not(:last-child)::after {
    width: 110px;
    height: 6px;
  }
}
@media (min-width: 991.98px) {
  .how .how__container .how__items {
    padding: 0px 35px;
  }
}
@media (max-width: 767.98px) {
  .how .how__container .how__items {
    grid-template-columns: repeat(1, minmax(auto, 460px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 991.98px) {
  .how {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .how {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.deals {
  padding-top: 110px;
  padding-bottom: 110px;
}
.deals .deals__container .header-deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.deals .deals__container .header-deals:not(:last-child) {
  margin-bottom: 50px;
}
.deals .deals__container .header-deals .header-deals__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.deals .deals__container .header-deals .header-deals__body .header-deals__title:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 458.98px) {
  .deals .deals__container .header-deals .header-deals__body .header-deals__title {
    font-size: 27px;
  }
}
.deals .deals__container .header-deals .header-deals__body .header-deals__text {
  color: #000;
  width: 470px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}
@media (max-width: 767.98px) {
  .deals .deals__container .header-deals .header-deals__body .header-deals__text {
    width: auto;
  }
}
.deals .deals__container .header-deals .header-deals__link {
  padding: 20px 34px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  background: #fd6858;
  -webkit-box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(248, 90, 71, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(248, 90, 71, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
          box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(248, 90, 71, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(248, 90, 71, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
}
.deals .deals__container .header-deals .header-deals__link:hover {
  background: #ff8b7e;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (max-width: 498.98px) {
  .deals .deals__container .header-deals .header-deals__link {
    width: 100%;
    margin: 0px 40px;
  }
}
.deals .deals__container .tabs-deals .tabs-deals__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.deals .deals__container .tabs-deals .tabs-deals__nav:not(:last-child) {
  margin-bottom: 35px;
}
.deals .deals__container .tabs-deals .tabs-deals__nav .tabs-deals__button {
  color: #000;
  font-size: 19px;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
}
.deals .deals__container .tabs-deals .tabs-deals__nav .tabs-deals__button::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background-color: #f85a47;
}
.deals .deals__container .tabs-deals .tabs-deals__nav .tabs-deals__button:hover::after {
  width: 100%;
}
.deals .deals__container .tabs-deals .tabs-deals__nav .tabs-deals__button:hover {
  color: #f85a47;
}
.deals .deals__container .tabs-deals .tabs-deals__nav .tabs-deals__button.active {
  color: #f85a47;
}
.deals .deals__container .tabs-deals .tabs-deals__nav .tabs-deals__button.active::after {
  width: 100%;
}
@media (max-width: 991.98px) {
  .deals .deals__container .tabs-deals .tabs-deals__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .deals .deals__container .tabs-deals .tabs-deals__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.deals .deals__container .tabs-deals .tabs-deals__body .tabs-deals__item {
  display: none;
}
.deals .deals__container .tabs-deals .tabs-deals__body .tabs-deals__item.active {
  display: block;
}
.deals .deals__container .tabs-deals .tabs-deals__body .item-tabs .item-tabs__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}
.deals .deals__container .tabs-deals .tabs-deals__body .item-tabs .item-tabs__items .item-tabs__item {
  position: relative;
}
.deals .deals__container .tabs-deals .tabs-deals__body .item-tabs .item-tabs__items .item-tabs__item .item-tabs__options {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 3;
}
.deals .deals__container .tabs-deals .tabs-deals__body .item-tabs .item-tabs__items .item-tabs__item .item-tabs__options .item-tabs__option {
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 6px;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: background-color 0.4s ease 0s;
  transition: background-color 0.4s ease 0s;
}
.deals .deals__container .tabs-deals .tabs-deals__body .item-tabs .item-tabs__items .item-tabs__item .item-tabs__options .item-tabs__option:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.deals .deals__container .tabs-deals .tabs-deals__body .item-tabs .item-tabs__items .item-tabs__item .item-tabs__image {
  position: relative;
  padding-bottom: 81%;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  max-width: 100%;
}
.deals .deals__container .tabs-deals .tabs-deals__body .item-tabs .item-tabs__items .item-tabs__item .item-tabs__image:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.deals .deals__container .tabs-deals .tabs-deals__body .item-tabs .item-tabs__items .item-tabs__item .item-tabs__image img {
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991.98px) {
  .deals {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .deals {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.featured {
  padding-top: 110px;
  padding-bottom: 110px;
}
.featured .featured__container .featured__title:not(:last-child) {
  margin-bottom: 95px;
}
.featured .featured__container .featured__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 77px;
  background: #f1ffff;
  padding: 40px 40px 80px 40px;
}
.featured .featured__container .featured__body .images-featured {
  display: grid;
  justify-items: center;
}
.featured .featured__container .featured__body .images-featured .images-featured_item {
  padding-top: 16px;
}
.featured .featured__container .featured__body .images-featured .images-featured_item img {
  max-width: 100%;
}
.featured .featured__container .featured__body .images-featured .images-featured_item_mini {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: -114px;
}
.featured .featured__container .featured__body .featured__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.featured .featured__container .featured__body .content-featured {
  -ms-flex-item-align: end;
      align-self: end;
}
.featured .featured__container .featured__body .content-featured .content-featured__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 412px;
  height: 379px;
}
.featured .featured__container .featured__body .content-featured .content-featured__body:not(:last-child) {
  margin-bottom: 55px;
}
.featured .featured__container .featured__body .content-featured .content-featured__body .content-featured__title {
  color: #000;
  font-size: 31px;
  font-weight: 600;
  width: 378px;
}
.featured .featured__container .featured__body .content-featured .content-featured__body .content-featured__title:not(:last-child) {
  margin-bottom: 28px;
}
@media (max-width: 991.98px) {
  .featured .featured__container .featured__body .content-featured .content-featured__body .content-featured__title {
    width: auto;
  }
}
@media (max-width: 498.98px) {
  .featured .featured__container .featured__body .content-featured .content-featured__body .content-featured__title {
    font-size: 24px;
  }
}
.featured .featured__container .featured__body .content-featured .content-featured__body .content-featured__text {
  color: #545a58;
  width: 344px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}
.featured .featured__container .featured__body .content-featured .content-featured__body .content-featured__text:not(:last-child) {
  margin-bottom: 43px;
}
@media (max-width: 991.98px) {
  .featured .featured__container .featured__body .content-featured .content-featured__body .content-featured__text {
    width: auto;
  }
}
@media (max-width: 498.98px) {
  .featured .featured__container .featured__body .content-featured .content-featured__body .content-featured__text {
    font-size: 13px;
  }
}
.featured .featured__container .featured__body .content-featured .content-featured__body .options-content-featured {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 37px;
}
.featured .featured__container .featured__body .content-featured .content-featured__body .options-content-featured .options-content-featured__item .option-content-featured__label {
  color: #000;
  font-size: 17px;
  font-weight: 700;
}
.featured .featured__container .featured__body .content-featured .content-featured__body .options-content-featured .options-content-featured__item .option-content-featured__label:not(:last-child) {
  margin-bottom: 12px;
}
.featured .featured__container .featured__body .content-featured .content-featured__body .options-content-featured .options-content-featured__item .option-content-featured__value {
  color: #545a58;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 489.98px) {
  .featured .featured__container .featured__body .content-featured .content-featured__body .options-content-featured {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 991.98px) {
  .featured .featured__container .featured__body .content-featured .content-featured__body {
    max-width: none;
    height: auto;
  }
}
.featured .featured__container .featured__body .content-featured .content-featured__button {
  border-radius: 5px;
  background: #f85a47;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  max-width: 412px;
  line-height: normal;
  display: block;
  padding: 16px 38px;
  -webkit-box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(248, 90, 71, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(248, 90, 71, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
          box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(248, 90, 71, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(248, 90, 71, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.featured .featured__container .featured__body .content-featured .content-featured__button:hover {
  background: #ff7465;
}
@media (max-width: 498.98px) {
  .featured .featured__container .featured__body .content-featured .content-featured__button {
    font-size: 15px;
  }
}
@media (max-width: 991.98px) {
  .featured .featured__container .featured__body .content-featured {
    -ms-flex-item-align: start;
        align-self: start;
  }
}
@media (max-width: 489.98px) {
  .featured .featured__container .featured__body .content-featured {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 991.98px) {
  .featured .featured__container .featured__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (max-width: 991.98px) {
  .featured {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .featured {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.reviews {
  padding-top: 100px;
  padding-bottom: 100px;
}
.reviews .reviews__container .reviews__title {
  max-width: 570px;
}
.reviews .reviews__container .reviews__title:not(:last-child) {
  margin-bottom: 51px;
}
@media (max-width: 1199.98px) {
  .reviews .reviews__container .reviews__title {
    max-width: none;
  }
}
@media (max-width: 458.98px) {
  .reviews .reviews__container .reviews__title {
    font-size: 27px;
  }
}
.reviews .reviews__container .reviews__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 370px));
  gap: 30px;
}
@media (max-width: 1199.98px) {
  .reviews .reviews__container .reviews__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 991.98px) {
  .reviews .reviews__container .reviews__items {
    grid-template-columns: repeat(auto-fill, minmax(311px, 370px));
    justify-items: center;
  }
}
@media (max-width: 725.98px) {
  .reviews .reviews__container .reviews__items {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 489.98px) {
  .reviews .reviews__container .reviews__items {
    padding: 0px;
  }
}
.reviews .reviews__container .reviews__items .item-reviews {
  border-radius: 10px;
  border: 1px solid #ebebeb;
  background: #fff;
  padding: 50px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1200.98px) {
  .reviews .reviews__container .reviews__items .item-reviews:last-child {
    grid-column: span 2;
    margin: 0px 200px;
  }
}
@media (max-width: 725.98px) {
  .reviews .reviews__container .reviews__items .item-reviews:last-child {
    justify-items: center;
    grid-column: auto;
    margin: 0px;
  }
}
.reviews .reviews__container .reviews__items .item-reviews:hover {
  border-bottom: none;
  -webkit-box-shadow: 3px 44px 54px 0px rgba(0, 0, 0, 0.08), 0px 1.8518518209px 3.1481480598px 0px rgba(0, 0, 0, 0.01), 0px 8.1481485367px 6.5185184479px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px 0px rgba(0, 0, 0, 0.02), 0px 64.8148117065px 46.851852417px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 3px 44px 54px 0px rgba(0, 0, 0, 0.08), 0px 1.8518518209px 3.1481480598px 0px rgba(0, 0, 0, 0.01), 0px 8.1481485367px 6.5185184479px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px 0px rgba(0, 0, 0, 0.02), 0px 64.8148117065px 46.851852417px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
}
.reviews .reviews__container .reviews__items .item-reviews .item-reviews__star:not(:last-child) {
  margin-bottom: 34px;
}
.reviews .reviews__container .reviews__items .item-reviews .item-reviews__text {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  width: 270px;
  line-height: 1.75; /* 175% */
}
.reviews .reviews__container .reviews__items .item-reviews .item-reviews__text:not(:last-child) {
  margin-bottom: 60px;
}
.reviews .reviews__container .reviews__items .item-reviews .author-item-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.reviews .reviews__container .reviews__items .item-reviews .author-item-reviews .author-item-reviews__body .author-item-reviews__name {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.reviews .reviews__container .reviews__items .item-reviews .author-item-reviews .author-item-reviews__body .author-item-reviews__location {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.reviews .reviews__container .footer-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  row-gap: 30px;
  padding-top: 90px;
}
.reviews .reviews__container .footer-reviews .footer-reviews__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews .reviews__container .footer-reviews .footer-reviews__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 311px;
          flex: 0 0 311px;
}
.reviews .reviews__container .footer-reviews .footer-reviews__info .footer-reviews__link {
  color: #2cbde7;
  text-decoration: underline;
}
.reviews .reviews__container .footer-reviews .footer-reviews__info .footer-reviews__link:hover {
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .reviews .reviews__container .footer-reviews .footer-reviews__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 991.98px) {
  .reviews .reviews__container .footer-reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    row-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 991.98px) {
  .reviews {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .reviews {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.subscribe {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--6, #fbfcfc);
}
.subscribe .subscribe__container .subscribe__header {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
}
.subscribe .subscribe__container .subscribe__header .subscribe__title {
  color: var(--text, #31353b);
  font-size: 45px;
  font-weight: 700;
  line-height: 1.44; /* 64.89px */
  letter-spacing: 0.9px;
}
.subscribe .subscribe__container .subscribe__header .subscribe__title:not(:last-child) {
  margin-bottom: 11px;
}
@media (max-width: 520px) {
  .subscribe .subscribe__container .subscribe__header .subscribe__title {
    font-size: 29px;
  }
}
.subscribe .subscribe__container .subscribe__header .subscribe__sub-title {
  color: var(--text, #31353b);
  font-size: 23px;
  font-weight: 700;
  line-height: 1.44; /* 33.166px */
  letter-spacing: 0.46px;
}
@media (max-width: 520px) {
  .subscribe .subscribe__container .subscribe__header .subscribe__sub-title {
    font-size: 20px;
  }
}
@media (max-width: 520px) {
  .subscribe .subscribe__container .subscribe__header {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
.subscribe .subscribe__container .form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  max-width: 686px;
  margin: 0 auto;
  background: var(--white, #fff);
  -webkit-box-shadow: 0px 3.0185184479px 3.1481480598px 0px rgba(0, 0, 0, 0.01), 0px 13.2814817429px 6.5185184479px 0px rgba(0, 0, 0, 0.02), 0px 32.5999984741px 13px 0px rgba(0, 0, 0, 0.02), 0px 62.7851867676px 25.4814815521px 0px rgba(0, 0, 0, 0.02), 0px 105.648147583px 46.851852417px 0px rgba(0, 0, 0, 0.03), 0px 163px 80px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 3.0185184479px 3.1481480598px 0px rgba(0, 0, 0, 0.01), 0px 13.2814817429px 6.5185184479px 0px rgba(0, 0, 0, 0.02), 0px 32.5999984741px 13px 0px rgba(0, 0, 0, 0.02), 0px 62.7851867676px 25.4814815521px 0px rgba(0, 0, 0, 0.02), 0px 105.648147583px 46.851852417px 0px rgba(0, 0, 0, 0.03), 0px 163px 80px 0px rgba(0, 0, 0, 0.04);
}
@media (max-width: 520px) {
  .subscribe .subscribe__container .form-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}
.subscribe .subscribe__container .form-subscribe .form-subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.subscribe .subscribe__container .form-subscribe .form-subscribe__content .form-subscribe__label {
  color: var(--text, #31353b);
  font-size: 17px;
  font-weight: 500;
  opacity: 0.200000003;
  line-height: 1.44; /* 24.514px */
  letter-spacing: 0.34px;
  cursor: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.subscribe .subscribe__container .form-subscribe .form-subscribe__content .form-subscribe__label:not(:last-child) {
  margin-bottom: 11px;
}
.subscribe .subscribe__container .form-subscribe .form-subscribe__content .form-subscribe__input {
  cursor: pointer;
  color: var(--text, #31353b);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.44; /* 28.84px */
  letter-spacing: 0.4px;
}
.subscribe .subscribe__container .form-subscribe .form-subscribe__content .form-subscribe__input::-webkit-input-placeholder {
  color: var(--text, #31353b);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.44; /* 28.84px */
  letter-spacing: 0.4px;
}
.subscribe .subscribe__container .form-subscribe .form-subscribe__content .form-subscribe__input::-moz-placeholder {
  color: var(--text, #31353b);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.44; /* 28.84px */
  letter-spacing: 0.4px;
}
.subscribe .subscribe__container .form-subscribe .form-subscribe__content .form-subscribe__input:-ms-input-placeholder {
  color: var(--text, #31353b);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.44; /* 28.84px */
  letter-spacing: 0.4px;
}
.subscribe .subscribe__container .form-subscribe .form-subscribe__content .form-subscribe__input::-ms-input-placeholder {
  color: var(--text, #31353b);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.44; /* 28.84px */
  letter-spacing: 0.4px;
}
.subscribe .subscribe__container .form-subscribe .form-subscribe__content .form-subscribe__input::placeholder {
  color: var(--text, #31353b);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.44; /* 28.84px */
  letter-spacing: 0.4px;
}
.subscribe .subscribe__container .form-subscribe .form-subscribe__button {
  padding: 23px 40px;
  background: #f85a47;
  -webkit-box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(248, 90, 71, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(248, 90, 71, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
          box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(248, 90, 71, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(248, 90, 71, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
  color: var(--white, #fff);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44; /* 25.956px */
  letter-spacing: 0.36px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.subscribe .subscribe__container .form-subscribe .form-subscribe__button:hover {
  background: #d65546;
}
@media (max-width: 520px) {
  .subscribe .subscribe__container .form-subscribe .form-subscribe__button {
    padding: 10px 20px;
  }
}
@media (max-width: 991.98px) {
  .subscribe {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .subscribe {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer .footer__container {
  padding-top: 60px;
  padding-bottom: 40px;
  border-top: 1px solid #dedfe1;
}
.footer .footer__container .footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding-bottom: 70px;
}
.footer .footer__container .footer__body .menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer__container .footer__body .menu-footer .menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .footer__container .footer__body .menu-footer .menu-footer__list .menu-footer__item .menu-footer__link {
  display: block;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
}
.footer .footer__container .footer__body .menu-footer .menu-footer__list .menu-footer__item .menu-footer__link:hover {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .footer .footer__container .footer__body .menu-footer .menu-footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 537.98px) {
  .footer .footer__container .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 30px;
  }
}
.footer .footer__container .footer__copy {
  text-align: center;
  cursor: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 767.98px) {
  .footer .footer__container {
    padding-top: 30px;
  }
}/*# sourceMappingURL=index.css.map */