//-----Body--------------------------------------------------
body [data-scroll="false"] {
	overflow: hidden;
}
body [data-scroll="true"] {
	overflow: scroll;
}
body.menu-open {
	overflow: hidden;
}
//-----Wrapper--------------------------------------------------

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
//===================CONTAINER============================

[class*="__container"] {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 15px;
}
// /*-------PC-------- */
// @media (max-width: 1200px) {
// 	[class*="__container"] {
// 		max-width: 970px;
// 	}
// }
// /*-------TABLET-------- */
// @media (max-width: 991.98px) {
// 	[class*="__container"] {
// 		max-width: 750px;
// 	}
// }
// /*-------MOBIL-------- */
// @media (max-width: 767.98px) {
// 	[class*="__container"] {
// 		max-width: none;
// 	}
// }
// /*-------MOBIL-Small------- */
// @media (max-width: 479.98px) {
// }
// ==========Page=================================================
.page {
	flex: 1 1 auto;
}
.page__main {
}

